{% extends "layouts/base.html" %}

{% block title %} Charts {% endblock title %}

<!-- Specific CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="row gap-20 masonry pos-r" id="chart1">
        <div class="masonry-sizer col-md-6 pos-a"></div>
        <!--TITULO DEL KPI 1: VENTAS-->
        <div class="masonry-item col-md-12">
            <div class="layers">
                <div class="layer w-100 pX-20 pT-20">
                    <h2 class="lh-1">VOLUMEN DE VENTAS</h2>
                </div>
            </div>
        </div>
      
               


                    <div class="masonry-item col-md-12">
                        <div class="bgc-white p-20 bd">
                            <h6 class="c-grey-900">Estadisticas Resaltantes</h6>
                            <div class="mT-30">
                            <div class="peers mT-20 fxw-nw@lg+ jc-sb ta-c gap-10">
                                <div class="peer">
                                    <div class="card-body bg-success text-white">
                                        <h6 class="fsz-sm">Volumen de Ventas 2019</h6>
                                        <h2 class="display-4">S/. 52.3839,0</h2>
                                    </div>
                                </div>
                                <div class="peer">
                                    <div class="card-body bg-info text-white">
                                        <h6 class="fsz-sm">Volumen de Ventas 2020</h6>
                                        <h2 class="display-4">S/. 41.770.970,2 </h2>
                                    </div>
                                </div>
                                <div class="peer">
                                    <div class="card-body bg-warning text-white">
                                        <h6 class="fsz-sm">Ventas Promedio</h6>
                                        <h2 class="display-4">S/. 21.147.404,6</h2>
                                    </div>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>



 
            
                
       

        <div class="masonry-item col-md-6">
            <div class="bgc-white p-20 bd">
                <h6 class="c-grey-900">Volumen de ventas por departamento(en miles)</h6>
                <div class="mT-30">
                    <canvas id="bar-chartvvxDepa" width="800" height="450"></canvas>
                </div>
            </div>
        </div>
        <div class="masonry-item col-md-6">
            <div class="bgc-white p-20 bd">
                <h6 class="c-grey-900">Volumen de ventas por canal (en miles)</h6>
                <div class="mT-30">
                <canvas id="bar-chart-vvxCanal" height="220"></canvas>
                </div>
            </div>
        </div>
        <div class="masonry-item col-md-6">
        <div class="bgc-white p-20 bd">
            <h6 class="c-grey-900">Volumen de ventas Zonal ( en miles) </h6>
            <div class="mT-30">
            <canvas id="pie-chart-vvxZonal" height="220"></canvas>
            </div>
        </div>
        </div>
        <div class="masonry-item col-md-6">
        <div class="bgc-white p-20 bd">
            <h6 class="c-grey-900">Ventas por encargados</h6>
            <div class="mT-30">
            <canvas id="bar-chartvvxEncargado" height="220"></canvas>
            </div>
        </div>
        </div>
      
     
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
