<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <title>
      G02 - {% block title %}{% endblock %} | SI150U
    </title>

    <style>
      #loader {
        transition: all 0.3s ease-in-out;
        opacity: 1;
        visibility: visible;
        position: fixed;
        height: 100vh;
        width: 100%;
        background: #fff;
        z-index: 90000;
      }

      #loader.fadeOut {
        opacity: 0;
        visibility: hidden;
      }

      .spinner {
        width: 40px;
        height: 40px;
        position: absolute;
        top: calc(50% - 20px);
        left: calc(50% - 20px);
        background-color: #333;
        border-radius: 100%;
        -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
        animation: sk-scaleout 1.0s infinite ease-in-out;
      }

      @-webkit-keyframes sk-scaleout {
        0% { -webkit-transform: scale(0) }
        100% {
          -webkit-transform: scale(1.0);
          opacity: 0;
        }
      }

      @keyframes sk-scaleout {
        0% {
          -webkit-transform: scale(0);
          transform: scale(0);
        } 100% {
          -webkit-transform: scale(1.0);
          transform: scale(1.0);
          opacity: 0;
        }
      }
    </style>
    <link href="/static/assets/style.css" rel="stylesheet">

    <!-- Specific Page CSS goes HERE -->
    {% block stylesheets %}{% endblock stylesheets %}

  </head>
  <body class="app">
    <!-- @TOC -->
    <!-- =================================================== -->
    <!--
      + @Page Loader
      + @App Content
          - #Left Sidebar
              > $Sidebar Header
              > $Sidebar Menu

          - #Main
              > $Topbar
              > $App Screen Content
    -->

    <!-- @Page Loader -->
    <!-- =================================================== -->
    <div id="loader">
      <div class="spinner"></div>
    </div>

    <script>
      window.addEventListener('load', function load() {
        const loader = document.getElementById('loader');
        setTimeout(function() {
          loader.classList.add('fadeOut');
        }, 300);
      });
    </script>

    <!-- @App Content -->
    <!-- =================================================== -->
    <div>

      {% include 'includes/sidebar.html' %}

      <!-- #Main ============================ -->
      <div class="page-container">

        {% include 'includes/navigation.html' %}

        <!-- ### $App Screen Content ### -->
        <main class="main-content bgc-grey-100">
          <div id="mainContent">

            {% block content %}{% endblock content %}  
          
          </div>
        </main>

        {% include 'includes/footer.html' %}

    </div>
  
    <script type="text/javascript" src="/static/assets/vendor.js"></script>
    <script type="text/javascript" src="/static/assets/bundle.js"></script>
    
    <!-- Specific Page JS goes HERE -->
    {% block javascripts %}{% endblock javascripts %}
    
    <script>
      var ctx = document.getElementById('line-chart-vv').getContext('2d');
      var chart = new Chart(ctx, {
          // The type of chart we want to create
          type: 'line',

          // The data for our dataset
          data: {
              labels: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
              datasets: [{
                  label: 'Año 2019',
                  backgroundColor: 'rgb(255, 99, 132)',
                  borderColor: 'rgb(255, 99, 132)',
                  data: [0, 0, 0, 0, 0, 2.56, 8.78, 6.25, 6.85, 6.81, 6.49, 14.65],
                  fill: false,
                },
                {
                  label: 'Año 2020',
                  fill: false,
                  backgroundColor: 'rgb(185, 99, 255)',
                  borderColor: 'rgb(185, 99, 255)',
                  data: [6.4, 82.57, 75.82, 24.89, 87.39, 273.82, 514.38, 473.95, 804.13, 567.18, 857.48, 409.05],
                }]
          },

          // Configuration options go here
          options: {
            responsive: true,
            title: {
              display: true,
              text: 'Evolutivo Volumen Ventas'
            },
            tooltips: {
              mode: 'index',
              intersect: false,
            },
            hover: {
              mode: 'nearest',
              intersect: false,
            },
            scales:{
              xAxes: [{
                display: true,
                scaleLabel: {
                  display: true,
                  labelString: 'Mes'
                }
              }],
              yAxes: [{
                display: true,
                scaleLabel: {
                  display: true,
                  labelString: 'Ventas (Millones)'
                }
              }]
            }
          }
      });
    </script>

    <script>
      var ctx = document.getElementById('line-chart-et').getContext('2d');
      var chart = new Chart(ctx, {
          // The type of chart we want to create
          type: 'line',

          // The data for our dataset
          data: {
              labels: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
              datasets: [{
                  label: 'Año 2019',
                  backgroundColor: 'rgb(255, 99, 132)',
                  borderColor: 'rgb(255, 99, 132)',
                  data: [0, 0, 0, 0, 0, 57, 234, 180, 186, 189, 174, 675],
                  fill: false,
                },
                {
                  label: 'Año 2020',
                  fill: false,
                  backgroundColor: 'rgb(185, 99, 255)',
                  borderColor: 'rgb(185, 99, 255)',
                  data: [375, 447, 426, 630, 783, 2652, 4005, 4560, 6009, 4476, 6426, 2976],
                }]
          },

          // Configuration options go here
          options: {
            responsive: true,
            title: {
              display: true,
              text: 'Evolutivo Transacciones'
            },
            tooltips: {
              mode: 'index',
              intersect: false,
            },
            hover: {
              mode: 'nearest',
              intersect: false,
            },
            scales:{
              xAxes: [{
                display: true,
                scaleLabel: {
                  display: true,
                  labelString: 'Mes'
                }
              }],
              yAxes: [{
                display: true,
                scaleLabel: {
                  display: true,
                  labelString: 'Transacciones'
                }
              }]
            }
          }
      });
    </script>

    <script>
      var ctx = document.getElementById('line-chart-eg').getContext('2d');
      var chart = new Chart(ctx, {
          // The type of chart we want to create
          type: 'line',

          // The data for our dataset
          data: {
              labels: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
              datasets: [{
                  label: 'Año 2019',
                  backgroundColor: 'rgb(255, 99, 132)',
                  borderColor: 'rgb(255, 99, 132)',
                  data: [0, 0, 0, 0, 0, 120, 576, 324, 276, 392, 200, 1900],
                  fill: false,
                },
                {
                  label: 'Año 2020',
                  fill: false,
                  backgroundColor: 'rgb(185, 99, 255)',
                  borderColor: 'rgb(185, 99, 255)',
                  data: [1548, 1264, 876, 368, 396, 968, 3024, 3180, 3680, 2516, 4788, 2408],
                }]
          },

          // Configuration options go here
          options: {
            responsive: true,
            title: {
              display: true,
              text: 'Evolutivo Ganancias Totales'
            },
            tooltips: {
              mode: 'index',
              intersect: false,
            },
            hover: {
              mode: 'nearest',
              intersect: false,
            },
            scales:{
              xAxes: [{
                display: true,
                scaleLabel: {
                  display: true,
                  labelString: 'Mes'
                }
              }],
              yAxes: [{
                display: true,
                scaleLabel: {
                  display: true,
                  labelString: 'Ganancias'
                }
              }]
            }
          }
      });
    </script>

    <!--SCRIPTS KPI 3: GANANCIAS-->
    <!--GANANCIA ANUAL SEGUN DPTO-->
    <script>
      var ctx = document.getElementById('bc-gan-dep').getContext('2d');
      var chart = new Chart(ctx, {
          // The type of chart we want to create
          type: 'horizontalBar',
          data: {
            labels: ['ANCASH ', 'APURIMAC', 'AREQUIPA', 'AYACUCHO', 'CAJAMARCA', 'CALLAO', 'CUSCO','HUANUCO','ICA','JUNIN','LA LIBERTAD','LAMBAYEQUE','LIMA','LORETO','MOQUEGUA','PIURA','TACNA','TUMBES'],
            datasets: [{
              label: '2019',
              backgroundColor: 'rgb(243, 236, 9)',
              borderColor: 'rgb(243, 236, 9)',
              borderWidth: 1,
              data: [0, 0, 0, 0, 0, 0, 0,0,0,0,0,0,2416,0,0,0,1372,0]
            }, {
                  label: '2020',
                  backgroundColor: 'rgb(255, 120, 43)',
                  borderColor: 'rgb(255, 120, 43)',
                  data: [60, 112, 3760, 0, 2072, 544, 0,0,1776,64,0,5072,7816,0,0,2196,1036,0]
            }]
          },

          // Configuration options go here
          options: {
            responsive: true,
            title: {
              display: true,
              text: 'Ganancias Anuales Vs. Departamentos'
            },
            tooltips: {
              mode: 'index',
              intersect: false,
            },
            hover: {
              mode: 'nearest',
              intersect: false,
            },
            scales:{
              xAxes: [{
                display: true,
                scaleLabel: {
                  display: true,
                  labelString: 'Ganancias'
                }
              }],
              yAxes: [{
                display: true,
                scaleLabel: {
                  display: true,
                  labelString: 'Departamentos'
                }
              }]
            }
          }
      });
    </script>
    <!--GANANCIA SEGUN DEPARTAMENTO-->
    <script>
      var ctx = document.getElementById('bc-gan-dep_2').getContext('2d');
      var chart = new Chart(ctx, {
          // The type of chart we want to create
          type: 'doughnut',
          data: {
            datasets: [{
                        data: [60,112,3760,0,2072,544,0,0,1776,64,0,5072,10232,0,0,2196,2408,0],
                        backgroundColor: [
                          'rgba(122, 243, 9)',
                          'rgba(243, 151, 9)',
                          'rgba(9, 243, 218)',
                          'rgba(9, 76, 243 )',
                          'rgba(98, 9, 243)',
                          'rgba(243, 9, 236)',
                          'rgba(243, 9, 147)',
                          'rgba(241, 31, 85)',
                          'rgba(242, 239, 180)',
                          'rgba(124, 157, 92)',
                          'rgba(92, 157, 150)',
                          'rgba(30, 73, 69)',
                          'rgba(104, 139, 181)',
                          'rgba(38, 76, 122)',
                          'rgba(143, 136, 209)',
                          'rgba(178, 139, 204)',
                          'rgba(167, 125, 65)',
                          'rgba(165, 43, 39 )'
                        ],
                        label: 'Dataset 1'
                      }],
            labels: ['ANCASH ', 'APURIMAC', 'AREQUIPA', 'AYACUCHO', 'CAJAMARCA', 'CALLAO', 'CUSCO','HUANUCO','ICA','JUNIN','LA LIBERTAD','LAMBAYEQUE','LIMA','LORETO','MOQUEGUA','PIURA','TACNA','TUMBES']
          },

          // Configuration options go here
          options: {
            responsive: true,
            legend: {
              position: 'top',
            },
            title: {
              display: true,
              text: 'Ganancias por Departamentos'
            },
            animation: {
              animateScale: true,
              animateRotate: true
            }
          }
      });
    </script>
    <!--CLIENTE-->
  

  </body>

</html>
